In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('../data/sample.csv', header=None)

In [4]:
df

     0    1  2  3
0  1.0  3.0  3  8
1  NaN  NaN  7  8
2  3.0  5.0  4  5
3  4.0  4.0  5  1

In [5]:
df.dropna()

     0    1  2  3
0  1.0  3.0  3  8
2  3.0  5.0  4  5
3  4.0  4.0  5  1

In [8]:
a = df[0]

In [9]:
a

0    1.0
1    NaN
2    3.0
3    4.0
Name: 0, dtype: float64

In [10]:
a.values

array([ 1., nan,  3.,  4.])

In [12]:
type(a.values)

numpy.ndarray

In [13]:
a.values.shape

(4, 2)